@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-margin-top: 90px;

    text-decoration: none;

    outline: none;

    list-style: none;

}

body main.breve {

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-transform: uppercase;

    font-size: 2rem;
    
    min-height: 100vh;

}
