@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-margin-top: 77.59px;

    text-decoration: none;

    outline: none;

    list-style: none;

}
