.modelos {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    border-top: 5px solid #825D65;

    padding: 2rem 0;

}

.modelos h1 {

    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bolder;

    margin-bottom: 2rem;

}

.modelos .celulares {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.modelos .celulares .celular {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    border: 1px solid black;
    border-radius: 10px;
    
    width: calc(90vw / 3);

    transition: 0.2s;

}

.modelos .celulares #celular_s22 {

    background: #F8F8F5;

} 
.modelos .celulares #celular_s22_plus {

    background: #F8F8F5;

}
.modelos .celulares #celular_s22_ultra {

    background: #825D65;

}

.modelos .celulares .celular img {
    
    height: 300px;
    
    transition: 0.2s;

}

.modelos .celulares .celular p {

    font-family: 'Ubuntu';
    font-size: 1.5rem;
    font-weight: bolder;

    background: white;

    text-align: center;

    width: 90%;
    
    padding: 0.5rem 0;

}

.modelos .celulares .celular .buttons {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(70vw / 4);

}

.modelos .celulares .celular .buttons button {

    border: 1px solid black;

    border-radius: 50%;
    
    width: 40px;
    height: 40px;

    margin: 2rem 0;

    transition: 0.2s;

    cursor: pointer;

}

.modelos .celulares .celular .buttons button#botaoCorBranco {

    background: #F8F8F5;

}

.modelos .celulares .celular .buttons button#botaoCorPreto {

    background: #202322;

}

.modelos .celulares .celular .buttons button#botaoCorRosa {

    background: #EDDCD7;

}

.modelos .celulares .celular .buttons button#botaoCorVerde {

    background: #344E4A;

}

.modelos .celulares .celular .buttons button#botaoCorBordo {

    background: #825D65;

}

.modelos .celulares .celular .buttons button:hover {

    box-shadow: 0 0 5px black;

    transform: scale(1.2);

}

@media (max-width: 1100px) {

    .modelos .celulares .celular {

        width: calc(95vw / 3);
    
    }

    .modelos .celulares .celular .buttons {

        width: calc(90vw / 4);
    
    }

}

@media (max-width: 900px) {

    .modelos .celulares {

        flex-direction: column;

    }

    .modelos .celulares .celular {

        width: 80vw;

        margin-bottom: 2rem;

    }

    .modelos .celulares .celular:nth-child(3) {

        margin-bottom: 0;

    }
        
    .modelos .celulares .celular img {

        height: 250px;

    }

    .modelos .celulares .celular .buttons {

        width: 50vw;

    }

    .modelos .celulares .celular .buttons button {

        width: 30px;
        height: 30px;

    }
    
}
